<%= render 'principal/header' %>

      <!-- CONTENT CONTAINER -->
      <div id="cont-text" class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169" style="min-height:763px;">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>
          <!-- COTENT  -->
          <!-- INTRODUCCIÓN  -->
          <div class="col-lg-9 col-md-8 col-sm-12 plr-50">

            <!-- PUBLICACIONES RECIENTES -->
            <div class="page-section pt-40">
              <div class="mb-30">
                <h2 class="section-title pr-0 "><span class="bold ">BOLETINES</span></h2>
              </div>
              <div class="row mb-20">
                <div class="col-md-10 col-sm-12 col-md-offset-1">
<% @boletines.each do |b| %>
<div style="padding: 15px 0;width:90%;margin:0 auto; text-align:center">
	<p style="color:#6b8e4d;font-size:30px;font-weight:bold;text-align:center;"><%= b.titulo %></p>

  	<a target="_blank" href="<%= b.documento.url(:original) %>"><img src="<%= b.documento.url(:pdf_thumbnail) %>" alt="boletin" style="height:400px;width:330px;max-width:none;margin:10px auto;"></a>

		
</div>
<% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3 visible-md"></div>
          <!-- FIN ROW -->
        </div>
        <!-- FIN CONTENT CONTAINER -->
      </div>
<%= render 'principal/footer' %>
  <script>
		$(document).ready(function(){
			$(window).trigger("resize");
		});
		$(window).on("resize",function(){
			if($(document).width() < 1656)
				$("#cont-text").css("padding-top","0");
			else
				$("#cont-text").css("padding-top","");
		});
  </script>
