<%= render 'principal/header' %>

      <!-- CONTENT CONTAINER -->
      <div class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>

          <!-- INTRODUCCIÓN  -->
          <div class="col-lg-9 col-md-8 col-sm-12 plr-50">

            <!-- PUBLICACIONES RECIENTES -->
            <div class="page-section pt-40">
              <div class="mb-50 ">
                <h2 class="section-title pr-0 "><span class="bold ">PUBLICACIONES </span>RECIENTES</h2>
              </div>
              <div class="row">
<% @pubs_r.each do |p| %>
                <!-- PUBLICACIONES Item 1 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                  <div class="row">
                    <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                      <a href="shop-single.html "><img src="<%= p.portada.url %>" alt="<%= p.titulo %>"></a>
                    </div>
                  </div>
                  <div class="shop-price-cont ">
                    <a class="font-norm a-inv " href="<%= p.link %>" target="_blank"><strong><%= p.titulo %></strong></a>
                  </div>
                  <div class="post-prev-title mb-20">
                    <h3 class="font-norm a-inv"><%= p.autores %></h3>
                  </div>
                  <div class="post-prev-more-cont clearfix ">
                    <div class="shop-add-btn-cont ">
                      <a class="button medium gray-light shop-add-btn" href="<%= p.link %>" target="_blank">CONSULTAR</a>
                    </div>
                  </div>
                </div>
<% end %>
<% if false %>
                <!-- PUBLICACIONES Item 2 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                  <div class="row">
                    <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                      <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/S138.jpg" alt="Temas de política social de México y América Latina"></a>
                    </div>
                  </div>
                  <div class="shop-price-cont ">
                    <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2787" target="_blank"><strong>Temas de política social de México y América Latina</strong></a>
                  </div>
                  <div class="post-prev-title mb-20">
                    <h3 class="font-norm a-inv">Fernando Cortés (coordinador)</h3>
                  </div>
                  <div class="post-prev-more-cont clearfix ">
                    <div class="shop-add-btn-cont ">
                      <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2787" target="_blank">CONSULTAR</a>
                    </div>
                  </div>
                </div>
                <!-- PUBLICACIONES Item 3 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                  <div class="row">
                    <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                      <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/H397.jpg" alt="Historia Mínima de Colombia"></a>
                    </div>
                  </div>
                  <div class="shop-price-cont ">
                    <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2760" target="_blank"><strong>Historia Mínima de Colombia</strong></a>
                  </div>
                  <div class="post-prev-title mb-20">
                    <h3 class="font-norm a-inv">Jorge Orlando Melo</h3>
                  </div>
                  <div class="post-prev-more-cont clearfix ">
                    <div class="shop-add-btn-cont ">
                      <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2760" target="_blank">CONSULTAR</a>
                    </div>
                  </div>
                </div>
                <!-- PUBLICACIONES Item 4 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                  <div class="row">
                    <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                      <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/PE022.jpg" alt="Tribulaciones de dos empresas petroleras estatales, 1900-2014 (Trayectorias comparadas de PEMEX y PDVSA)"></a>
                    </div>
                  </div>
                  <div class="shop-price-cont ">
                    <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2741" target="_blank"><strong>Tribulaciones de dos empresas petroleras estatales, 1900-2014 (Trayectorias comparadas de PEMEX y PDVSA)</strong></a>
                  </div>
                  <div class="post-prev-title mb-20">
                    <h3 class="font-norm a-inv">Isabel  Rousseau</h3>
                  </div>
                  <div class="post-prev-more-cont clearfix ">
                    <div class="shop-add-btn-cont ">
                      <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2741" target="_blank">CONSULTAR</a>
                    </div>
                  </div>
                </div>
<% end %>
              </div>
            </div>

            <h2 class="section-title pr-0 mb-20"><span class="bold ">LIBROS</span></h2>
            <div class="row">
              <div class="col-md-10 col-sm-12 col-md-offset-1">
                <p class="text-left">Aquí podrás encontrar información sobre las publicaciones de El Colegio de México sobre temas relacionados con América Latina.</p>
              </div>
            </div>
            <!-- FORMULARIO DE BÚSQUEDA -->
            <div class="row">
              <div class="col-md-12 mt-40 plr-xs-0 plr-50 ">
                <!-- FORMULARIO DE BÚSQUEDA -->

<script>
function filter(f_ids){
	var where = "", multi = false, val;
	for(var i=0;i<f_ids.length;i++){
		val = $("#"+f_ids[i]).val();
		where = where + (val != "" ? "&conds["+f_ids[i]+"]="+ val : "");
	}
	$.ajax({
		url: "/libros.js?offset=0" + where,
		success: function(){}
	});
}

function clean(){
	$("#autor").val("");
	$("#centros").val("");
	$("#tema").val("");
	$("#fecha").val("");
	$.ajax({
		url: "/libros.js?offset=0",
		success: function(){}
	});
}
</script>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                        <h4 class="mt-10"><strong>Buscar por: </strong></h4>
                      </div>
                      <div class="col-lg-4 col-md-12 pl-0">
                        <input oninput="filter(['autor','centros','tema','fecha']);" id="autor" placeholder="Autor (es)" class="input-border w-100" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                        <h4 class="mt-10"><strong>Filtrar por: </strong></h4>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 pl-0 mb-15">
                          <select onchange="filter(['autor','centros','tema','fecha']);" name="centros" id="centros" class="select-md input-border w-100">
                            <option value="">Centro de Estudios</option>
                            <option value="ceaa">CEAA</option>
                            <option value="cedua">CEDUA</option>
                            <option value="cee">CEE</option>
                            <option value="ceh">CEH</option>
                            <option value="cei">CEI</option>
                            <option value="cell">CELL</option>
                            <option value="ces">CES</option>
                          </select>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 pl-0 mb-15">
                          <select onchange="filter(['autor','centros','tema','fecha']);" name="tema" id="tema" class="select-md input-border w-100">
                            <option value="">Tema</option>
                            <option value="hist">Historia</option>
                            <option value="lengua">Lengua y Literatura</option>
                            <option value="pol_tic">Política, Partidos e Instituciones</option>
                            <option value="relaci">Relaciones internacionales</option>
                            <option value="soci">Sociedad y Economía</option>
                            <option value="violencia">Violencia y Derechos Humanos</option>
                          </select>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 pl-0 mb-15">
                          <select onchange="filter(['autor','centros','tema','fecha']);" name="fecha" id="fecha" class="select-md input-border w-100">
                            <option value="">Año</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                    <br class="visible-sm visible-xs">
                    <button onclick="clean();" class="button medium hover-thin deeporange w-100-767">LIMPIAR BÚSQUEDA</button>
                  </div>
                </div>
                <!-- FIN FORMULARIO DE BÚSQUEDA -->
                <div class="row mt-30 mb-40">
                  <div class="col-md-8 col-xs-12 text-left">
                    <h3 id="count_p" class="verde-obscuro m-0"><%= ("<strong>Total: " + @pubs_c.to_s + "</strong>").html_safe %></h3>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs text-right">
                    <h3 id="count_pr" class="verde-obscuro m-0"><%= ("<strong>Total: " + @pubs_c.to_s + "</strong>").html_safe %></h3>
                  </div>
                </div>
                <!-- Toggle -->
                <dl id="toggle" class="toggle">
<% @pubs.each do |p| %>
                  <dt>
                    <a href="#"><h5 class="m-0 text-left"><%= p.titulo %></h5><h5 class="verde-obscuro mt-10 mb-0"><%= p.autores %></h5></a>
                  </dt>
                  <dd>
                    <div class="row">
                      <div class="col-md-7">
                        <p class="text-left"><strong class="azul-obscuro">Lugar de publicación:</strong> <span><%= p.lugar %></span></p>
                        <p class="text-left"><strong class="azul-obscuro">Editorial:</strong> <span><%= p.editorial %></span></p>
                        <p class="text-left"><strong class="azul-obscuro">Tema:</strong> <span><%= p.tematica.present? ? p.tematica : "" %></span></p>
                        <p class="text-left"><strong class="azul-obscuro">Enlace:</strong> <a href="<%= p.link %>" target="_blank" class="a-inv"><%= p.link.present? ? (p.link[0..25] + (p.link.size >= 25 ? "..." : "")) : "" %></a></p>
                      </div>
                      <div class="col-md-5">
                        <p class="text-left"><strong class="azul-obscuro">Centro de estudios:</strong> <span><%= p.centro %></span></p>
                        <p class="text-left"><strong class="azul-obscuro">Edición:</strong> <span><%= p.edicion %></span></p>
                        <p class="text-left"><strong class="azul-obscuro">Año:</strong> <span><%= p.anio %></span></p>
                      </div>
                    </div>
                  </dd>
<% end %>
                </dl>
                <!-- End Toggle -->
              </div>
            </div>
          </div>
          <div class="row mb-30">
            <div class="col-md-12 text-center">
              <nav class="blog-pag">
                <ul id="pags" class="pagination">
<% @pags.times do |c| %>
	<% if c == 0 %>
                        <li><a id="mag-ant" href="<%= libros_path(params: {offset: 0}) %>" data-remote="true"><i class="fa fa-angle-left"></i><span class="sr-only">Anterior</span></a></li>
	<% end %>
                        <li data-i="<%= c %>" id="<%= 'mag-' + c.to_s %>" class="<%= 'tog ' + (c == 0 ? 'active' : '') %>"><a href="<%= libros_path(params: {offset: c}) %>" data-remote="true"><%= (c+1).to_s %></a></li>
	<% if c == @pags - 1 %>
                        <li><a id="mag-nxt" href="<%= libros_path(params: {offset: 1}) %>" data-remote="true"><i class="fa fa-angle-right"></i><span class="sr-only">Siguiente</span></a></li>
	<% end %>
<% end %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 visible-md"></div>
    <!-- FIN ROW -->
  </div>
  <!-- FIN CONTENT CONTAINER -->
  </div>

<%= render 'principal/footer' %>
