<%= render 'principal/header' %>

      <!-- CONTENT CONTAINER -->
      <div class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>
          <!-- COTENT  -->
          <div class="col-lg-10 col-md-9 col-sm-12">
            <div class="row">
              <div class="col-lg-10 col-md-12 col-sm-12">
<% if false %>
                <h2 class="section-title pr-0 mb-40"><span class="bold ">PRÓXIMOS </span>EVENTOS</h2>
<% end %>
                <div class="row">
                  <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs"></div>
                  <div id="wrap-evs" class="col-lg-8 col-md-10 col-sm-10">
                    <!-- CAROUSEL DE PRÓXIMOS EVENTOS -->
                    <div class="owl-1-pag-auto owl-carousel owl-dark-bg owl-pag-2">
                      <!-- ITEM -->
                      <div class="item m-0">
                        <div>
                          <a href="http://agenda.colmex.mx/Actividad/748/catedra-de-demografia-jean-bourgeois-pichat/20180524" target="_blank"><img alt="Slide 1" src="http://agenda.colmex.mx/Imagenes%20Web/Eventos/cedua/2018/abril/2018-05-22y24-catedraJBP-banner.jpg"></a>
                        </div>
                      </div>
                      <!-- ITEM -->
                      <div class="item m-0">
                        <div>
                          <a href="http://agenda.colmex.mx/Actividad/662/apropiacion-regularizacion-y-venta-de-tierras-en-la-america-colonial/20180315" target="_blank"><img alt="Slide 2" src="http://agenda.colmex.mx/Imagenes%20Web/Eventos/ceh/2018/febrero/Banner7bMesa-Redonda.jpg"></a>
                        </div>
                      </div>
                      <!-- ITEM -->
                      <div class="item m-0">
                        <div>
                          <a href="http://agenda.colmex.mx/Actividad/719/partners-in-what-us-brazil-relations-and-the-path-of-modernization-of-latin-american-capitalism-in-the-cold-war-de-rafael-r-ioris/20180320" target="_blank"><img alt="Slide 2" src="http://agenda.colmex.mx/Imagenes%20Web/Eventos/ceh/2018/marzo/SHI-060318_marzo.jpg"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- DESCRIPCIÓN DEL PROYECTO -->
                <div class="mb-50 mt-50">
                  <h2 class="section-title pr-0 "><span class="bold ">ACERCA DEL </span>PROYECTO</h2>
                </div>
                <div class="row">
                  <div class="col-md-4 fes1-img-cont wow fadeInLeft mb-20" style="visibility: visible; animation-name: fadeInTop;"><img src="<%= image_url('esalc-reducido.png') %>" alt="Logo"></div>
                  <div class="col-md-8">
                    <p>
                      El Colegio de México cuenta con una larga tradición de vinculación con América Latina y el Caribe, tanto a nivel humano con la acogida de muchos exiliados en la época del autoritarismo militar sudamericano, como a nivel académico con el desarrollo de
                      investigaciones muy variadas sobre diferentes aspectos sobre la vida política, social, económica, cultural y la historia de la región. Sin embargo, la visibilidad de toda esta labor no logra alcanzar todo su potencial ante la ausencia
                      de una línea de trabajo que vincule los esfuerzos que actualmente tienen lugar en El Colegio en cuanto a investigación sobre temáticas de América Latina y el Caribe y una plataforma que centralice la información sobre los eventos,
                      las publicaciones y los proyectos que tienen como denominador común a la región.
                    </p>
                  </div>
                </div>
                <!-- PUBLICACIONES RECIENTES -->
                <div class="page-section pt-40">
                  <div class="mb-50 ">
                    <h2 class="section-title pr-0 "><span class="bold ">PUBLICACIONES </span>RECIENTES</h2>
                  </div>
                  <div class="row">
                    <!-- PUBLICACIONES Item 1 -->
										<% @pubs.each do |p| %>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                      <div class="row">
                        <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                          <a href="shop-single.html "><img src="<%= p.portada.url %>" alt="<%= p.titulo %>"></a>
                        </div>
                      </div>
                      <div class="shop-price-cont ">
                        <a class="font-norm a-inv " href="<%= p.link %>" target="_blank"><strong><%= p.titulo %></strong></a>
                      </div>
                      <div class="post-prev-title mb-20">
                        <h3 class="font-norm a-inv"><%= p.autores %></h3>
                      </div>
                      <div class="post-prev-more-cont clearfix ">
                        <div class="shop-add-btn-cont ">
                          <a class="button medium gray-light shop-add-btn" href="<%= p.link %>" target="_blank">CONSULTAR</a>
                        </div>
                      </div>
                    </div>
										<% end %>
<% if false %>
                    <!-- PUBLICACIONES Item 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                      <div class="row">
                        <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                          <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/S138.jpg" alt="Temas de política social de México y América Latina"></a>
                        </div>
                      </div>
                      <div class="shop-price-cont ">
                        <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2787" target="_blank"><strong>Temas de política social de México y América Latina</strong></a>
                      </div>
                      <div class="post-prev-title mb-20">
                        <h3 class="font-norm a-inv">Fernando Cortés (coordinador)</h3>
                      </div>
                      <div class="post-prev-more-cont clearfix ">
                        <div class="shop-add-btn-cont ">
                          <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2787" target="_blank">CONSULTAR</a>
                        </div>
                      </div>
                    </div>
                    <!-- PUBLICACIONES Item 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                      <div class="row">
                        <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                          <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/H397.jpg" alt="Historia Mínima de Colombia"></a>
                        </div>
                      </div>
                      <div class="shop-price-cont ">
                        <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2760" target="_blank"><strong>Historia Mínima de Colombia</strong></a>
                      </div>
                      <div class="post-prev-title mb-20">
                        <h3 class="font-norm a-inv">Jorge Orlando Melo</h3>
                      </div>
                      <div class="post-prev-more-cont clearfix ">
                        <div class="shop-add-btn-cont ">
                          <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2760" target="_blank">CONSULTAR</a>
                        </div>
                      </div>
                    </div>
                    <!-- PUBLICACIONES Item 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wow fadeInUp pb-70">
                      <div class="row">
                        <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                          <a href="shop-single.html "><img src="https://libros.colmex.mx/wp-content/plugins/documentos/portadas2/PE022.jpg" alt="Tribulaciones de dos empresas petroleras estatales, 1900-2014 (Trayectorias comparadas de PEMEX y PDVSA)"></a>
                        </div>
                      </div>
                      <div class="shop-price-cont ">
                        <a class="font-norm a-inv " href="https://libros.colmex.mx/ficha/?b=2741" target="_blank"><strong>Tribulaciones de dos empresas petroleras estatales, 1900-2014 (Trayectorias comparadas de PEMEX y PDVSA)</strong></a>
                      </div>
                      <div class="post-prev-title mb-20">
                        <h3 class="font-norm a-inv">Isabel  Rousseau</h3>
                      </div>
                      <div class="post-prev-more-cont clearfix ">
                        <div class="shop-add-btn-cont ">
                          <a class="button medium gray-light shop-add-btn" href="https://libros.colmex.mx/ficha/?b=2741" target="_blank">CONSULTAR</a>
                        </div>
                      </div>
                    </div>
<%end%>
                  </div>
                </div>

              </div>
              <!-- SIDENAV HIDE -->
<% if false %>
              <div class="col-lg-2 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="heading-underline h4-line" style="padding-top: 24px;">
                  <h4 class="mt-0">ANUNCIO DESTACADO</h4>
                </div>
                <div class="row">
                  <div class="post-prev-img col-lg-10 col-lg-offset-1 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <a href="#"><img src="<%= image_url('anuncio.png') %>" alt="anuncio"></a>
                  </div>
                </div>
                <div class="shop-price-cont">
                  <a class="font-norm" href="#" target="_blank"><strong>Coloquio Anual sobre América Latina</strong></a>
                </div>
                <div class="post-prev-title mb-20">
                  <h3 class="font-norm a-inv">Fecha</h3>
                </div>
                <div class="post-prev-more-cont clearfix">
                  <div class="shop-add-btn-cont ">
                    <a class="button medium gray-light shop-add-btn" href="#" target="_blank">MÁS INFORMACIÓN</a>
                  </div>
                </div>
              </div>
<% end %>
            </div>
          </div>
          <!-- FIN ROW -->
        </div>
        <!-- FIN CONTENT CONTAINER -->
      </div>
<script>
$(document).ready(function(){
	$.ajax({
		url: 'https://www.colmex.mx/catalogo_eventos.json?categoria=1:Estudios sobre América Latina&ordercrono=desc&limit=3',
		success: function(result){
			var ev_html = '<div id="carr-evs" class="owl-1-pag-auto owl-carousel owl-dark-bg owl-pag-2">';
			for(var i = 0; i < result["videos"].length; i++){
				ev_html = ev_html + '<div class="item m-0">' +
                    '<div>' +
                      '<a href="' + result["videos"][i]["liga"] + '" target="_blank"><img alt="Slide 1" src="' + result["videos"][i]["ligaImagen"].replace("http://","https://") + '"></a>' +
                    '</div>' +
                  '</div>';
			}
			ev_html = ev_html + '</div>';
			$("#wrap-evs").html(ev_html);
			//$("#carr-evs").owlCarousel();
        // CAROUSEL ONE ITEM INLINE, NO CONTROLS, NO AUTO PLAY, WITH PAGINATION  
			  $(".owl-1-pag").owlCarousel({
			 
				  //Set AutoPlay to 3 seconds
          //autoPlay : 5000,
				  items : 1,
				  itemsDesktop : [1000,1], 
					itemsDesktopSmall : [900,1], 
          itemsTablet: [470,1], 
          itemsMobile : false, 
				  
				  //Pagination
					pagination : true,
					paginationNumbers: false,
			 
			  });

        // CAROUSEL ONE ITEM INLINE, NO CONTROLS, AUTO PLAY, WITH PAGINATION
			  $(".owl-1-pag-auto").owlCarousel({
			 
				  //Set AutoPlay to 3 seconds
          autoPlay : 5000,
				  items : 1,
				  itemsDesktop : [1000,1], 
					itemsDesktopSmall : [900,1], 
          itemsTablet: [470,1], 
          itemsMobile : false, 
				  
				  //Pagination
					pagination : true,
					paginationNumbers: false,
			 
			  });
		}
	});
});
</script>

<%= render 'principal/footer' %>
